
#title, #description {
  text-align: center;
}

svg {
  display: block;
  margin: 0 auto; /* Centers the map horizontally */
  max-width: 100%; /* Ensures map resizes responsively */
  height: auto; /* Maintain aspect ratio */
}



.county {
  stroke: #fff; /* White border */
  stroke-width: 0.5;
  fill: steelblue; /* Temporary fill to make counties visible */
}



